<h1>Serie hinzufügen</h1>

<table class="table">
  <thead>
  </thead>
  <tbody>
  <tr>
  <tr>
    <td>ID</td>
    <td>
      <input type="number" class="form-control" id="idInput" name="idInput" aria-describedby="emailHelp"
             placeholder="Serien ID" [(ngModel)]="id">
    </td>
  </tr>
  <tr>
    <td>Bezeichnung</td>
    <td><input type="text" class="form-control" id="labelInput" name="labelInput" placeholder="Game Of Thrones"
               [(ngModel)]="label">
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="save()">Speichern</button>
